
.product-list {
    padding: 20px;
    background-color: #e6e9ec; 
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); 
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    justify-content: center;
    transition: all 0.3s ease-in-out;
}

@media (max-width: 768px) {
    .product-list {
        padding: 15px;
    }

    .product-grid {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 15px;
    }
}

@media (max-width: 480px) {
    .product-list {
        padding: 10px;
    }

    .product-grid {
        grid-template-columns: 1fr;
        gap: 10px;
    }
}


.product-card {
    background-color: #ffffff; 
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); 
    padding: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

.product-card:hover {
    transform: translateY(-10px); 
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2); 
}


.filter-bar {
    background: linear-gradient(to right, #f39c12, #e74c3c); 
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); 
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.filter-bar select {
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    background-color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.filter-bar select:hover {
    background-color: #f0f0f0;
}


.filter-bar input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    width: 200px;
    background-color: #fff;
    transition: border-color 0.3s ease;
}

.filter-bar input:focus {
    border-color: #f39c12; 
    outline: none;
}


.button {
    background-color: #25e183; 
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.button:hover {
    background-color: #4d5b65;
    transform: scale(1.05); 
}


.Toastify__toast-container {
    z-index: 9999;
}

.Toastify__toast {
    background-color: #191a1a; 
    color: white;
    border-radius: 5px;
    font-size: 14px;
}
